<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Danh sách admin</title>
  <link href="../../css/admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/headerAdmin") %>

    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="container-xl">
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-5">
                      <h2>Quản lý <b>Admin</b></h2>
                    </div>
                    <div class="col-sm-7">
                      <form class="addAdmin-btn" action="/admin/account/showCreate" method="GET">
                        <button type="submit"><i class="fa-solid fa-plus"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tên đăng nhập</th>
                      <th>Họ và tên</th>
                      <th>Số điện thoại</th>
                      <th>Địa chỉ</th>
                      <th>Trạng thái</th>
                      <th>Hoạt động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (admin) {%>
                      <% for (var i=0; i < admin.length; i++) { %>
                        <tr>
                          <td>
                            <%= (i+1) %>
                          </td>
                          <td>
                            <%=admin[i].userName%>
                          </td>

                          <td>
                            <%=admin[i].fullName%>
                          </td>
                          <td>
                            <%=admin[i].phone%>
                          </td>
                          <td>
                            <%=admin[i].address%>
                          </td>
                          <td>
                            <% if(admin[i].status==1) {%>
                              <form action="/admin/account/delete/<%= admin[i].id %>" method="POST">
                                <button class=" active-btn" type="submit"><i class="fa-solid fa-check"></i></button>
                              </form>
                              
                            <%}else{ %>
                              <form action="/admin/account/active/<%= admin[i].id %>" method="POST">
                                <button class=" disabled-btn" type="submit"><i class="fa-solid fa-xmark"></i></button>
                              </form>
                              <%}%>
                          </td>
                          <td class="action">

                            <form action="/admin/account/edit/<%= admin[i].id %>" method="GET">
                              <button class=" editAdmin-btn" type="submit"><i class="fa-solid fa-pen"></i></button>
                            </form>

                            <form action="/admin/account/delete/<%= admin[i].id %>" method="post">
                              <button type="submit" class=" deleteAdmin-btn"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa admin này không?')"><i
                                  class="fa-solid fa-trash"></i></button>
                            </form>

                          </td>
                        </tr>
                        <%}%>
                          <%}%>
                  </tbody>
                </table>
                <!-- <div class="clearfix">
                <div class="hint-text">Showing <b>number</b> out of <b>number</b> entries</div>
                <ul class="pagination">
                  <li class="page-item disabled"><a href="#">Previous</a></li>
                  <li class="page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item active"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


</body>

</html>